{% extends 'polls/base.html' %}


{% block content %}

	{% load crispy_forms_tags %}          

<div class="background" style="text-align: center;">
	<!--Reset Password-->
	<div class="container p-5">
  	 	<h1>Kennwort zurücksetzen</h1>
		<hr>
		<div style="text-align: left; font-size: 20px;">
			<p >Haben Sie Ihr Kennwort vergessen? Geben Sie unten Ihre E-Mail-Adresse ein, und wir senden Ihnen per E-Mail Anweisungen zum Einrichten eines neuen Kennworts zu.</p>
			<br>
			<form method="POST">
				{% csrf_token %}
				{{ password_reset_form|crispy }} 
				<br>                   
				<button class="button" type="submit">E-Mail senden</button>
			</form>
		</div>
		
  	</div> 
</div> 

{% endblock %}