{% extends 'polls/base.html' %}

{% block content %}

  {% load crispy_forms_tags %}  

<div class="background" style="text-align: center;">
  <!--Password Reset Confirm-->
    <div class="container p-5">
	    <h1>Kennwortrücksetzung bestätigen</h1>
		<hr>
        <div style="text-align: left; font-size: 20px;">
            <p>Bitte geben Sie Ihr neues Kennwort ein.</p>
            <br>
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}  
                <br>                  
                <button class="button" type="submit">Kennwort zurücksetzen</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}