{% extends 'polls/base.html' %}


{% block content %}

<div class="background" style="text-align: center;">
	<!--Password reset sent-->
	<div class="container p-5">
  	<h1>Kennwortrücksetzung gesendet</h1>
		<hr>
		<p style="text-align: left; font-size: 20px;"> Wir haben Ihnen per E-Mail eine Anleitung zum Einrichten Ihres Kennworts geschickt, sofern ein Konto mit der von Ihnen eingegebenen E-Mail-Adresse existiert. Sie sollten sie in Kürze erhalten. <br><br> Wenn Sie keine E-Mail erhalten, vergewissern Sie sich bitte, dass Sie die Adresse eingegeben haben, mit der Sie sich registriert haben, und überprüfen Sie Ihren Spam-Ordner.</p>
  </div>
</div>

{% endblock %}