{% extends 'polls/base.html' %}

{% block content %} 
  
  <!--Password Reset Complete-->
<div class="background" style="text-align: center;">
    <div class="container p-4">
	    <h1>Kennwortrücksetzung abgeschlossen</h1>
		  <hr>
      <div style="text-align: left; font-size: 20px;">
        <p>Ihr Kennwort wurde festgelegt. Sie können sich jetzt einloggen.</p> 
        <br>                
        <a class="button" href="{% url 'polls:login_user' %}" role="button">Anmelden</a>
      </div>
    </div>
</div>

{% endblock %}